Package: net.howett.safaridownloader-lproj
Name: Safari Downloader Translations
Replaces: net.howett.safaridownloader
Depends: net.howett.safaridownloader
Version: 2.0
Architecture: iphoneos-arm
Description: Translations for Safari Download Manager
Maintainer: Dustin Howett <dustin@howett.net>
Author: Dustin Howett <dustin@howett.net>
Section: Localization
Depiction: http://howett.net/cydia/depict/sdm/localizations.html
Homepage: http://howett.net/cydia/depict/sdm/localizations.html
Sponsor: thebigboss.org <http://thebigboss.org>
dev: dustinhowett
